@charset "UTF-8";

html{
	text-align:center;
	margin : 0 5px;
	padding: 0;
	background-color:#eeeeee;
}
.hero.is-info.is-bold{
	height:80px;
}


.annotation{
	font-size:20px;
	text-align:center;
	color:red;

}
.annotation-descripton{
	text-align:left;
	color:red;
	margin-top:50px;
}
.annotation-description-blue{
	color:blue;
	margin-left:15px;
}
.is-blue{
	color:blue;
}



.pc_enter_table{
	border-collapse: unset;
	border-spacing: 0px;
	background-color:#FFF;
	border-color:#888888;
	width:100%;
	text-align:center;
}
.pc_enter_table_tr{
	text-align:center;

}
tr{
	height:120px;

}

td{
	text-align:center !important;
	font-size : 25px ;
	/*height:auto !important;*/
	vertical-align: middle !important;


}

tr:nth-child(odd) {
  background-color: #D7EEFF;

 }

 tr:nth-child(even) {
  background-color: #D9E5FF;

 }

 .is-model{
 	width: 80%  !important;
 }


 .is-office{
	vertical-align: middle !important;
	    margin-top: 20px;
	    width: 90%;
 }


 .is-create{
 	width: 70%  !important;
 	vertical-align:middle;
 }
 .is-cpu{
 	width: 60%  !important;

 }
 .is-storage{
 	width: 20%  !important;
 }

.createAtAll-div{
	display:flex;
	width:100%;
	margin-left:20%;
}
.createAt-div{
	width:20%;
}

.memory-td{

}

.radio-div{
	width:100px;
	margin-top: 20px;
}


.radio-p{
	font-size:20px;
	width:80px;

}

.button_div{

}
.note_text{
	width:90%;
	height:100px;
	min-height: 80%;
	resize: vertical;
	font-size: 20px

}
nth-of-type(odd){
	width:auto;
}

.office_exist{
	margin:0;

}
.error{
	font-size:15px;
	color:red;
}
.office_td{
	display:flex;
	height: inherit;
}

.createAt_td{

	height:inherit;
}
.os_td{

}
.is-os{;
	margin:0 15px;
	width:65%;
}

.is-memory{
	width:30%;
}

.columns{
	margin:20px;
}